@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

@layer components{
    .fi-sidebar { @apply bg-white max-w-60 min-h-screen !important }
    .fi-sidebar-nav{ @apply gap-y-4 px-6 !important }
    .fi-sidebar-header{ @apply h-20 !important}
    .fi-sidebar-header{
      .fi-logo{ @apply ml-7 w-32 h-auto !important }
    }
    .fi-topbar{ nav{@apply h-20 !important} }
    /* .aap-logo{ @apply w-auto h-1 mb-24 -mt-16 !important } */
    .aap-login-logo { @apply w-48 -mt-24 !important }
    .fi-sidebar-header { @apply static !important }
    .fi-sidebar-collapsed{ @apply max-w-12 h-auto }
    .fi-sidebar-item { @apply mb-1 active:bg-aap-blue !important }
    .fi-sidebar-item-button{ @apply hover:bg-aap-blue  focus:ring  !important }
    .fi-sidebar-item-label{ @apply text-black hover:text-aap-yellow !important }
    .fi-sidebar-item-icon{ @apply text-black hover:text-aap-yellow !important }
    .fi-sidebar-nav-groups{ @apply gap-y-4 -mt-5 !important }
    .fi-sidebar-nav-groups::after {
      @apply content-[''] absolute top-0 right-0 h-full w-[1px] bg-[rgba(153,147,147,0.25)] !important;
    }
    /* .fi-sidebar-nav-groups::before { @apply mb-[-1px] content-[''] border-t border-[rgba(153,147,147,0.25)] !important } */
    .fi-in-text-item{ @apply underline !important }
    .fi-ta-text-item-label{ @apply text-black !important }  
    .fi-topbar-database-notifications-btn{ @apply text-aap-blue !important }
    .fi-topbar { @apply static !important }
    .fi-ac-icon-btn-action { @apply text-aap-blue !important }
    .fi-pagination-item-label { @apply text-aap-blue !important }
    .fi-ta-cell{
      .fi-ta-text-item-label{ @apply text-xs px-2 !important }
    }
    .fi-ta-header-cell-label {
      @apply px-2 !important;
    }
    .fi-ta-header-cell-label {
      @apply text-xs !important;
    }
    .fi-sidebar-group-button {
      .fi-sidebar-group-label {
        @apply w-24 text-gray-900 cursor-default !important;
      }
    }

}
.apex-charts-single-filter{  display: none !important; }
@layer utilities {
    /* For Webkit-based browsers (Chrome, Safari) */

    ::-webkit-scrollbar-thumb:hover {
      background: #555;  /* Color of the scroll thumb on hover */
        }
  
    /* For Firefox, Edge */
    * {
      scrollbar-width: thin;
      scrollbar-color: #fcdeb1 #f1f1f1;  /* thumb and track color */
    }
  }