@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

@layer components{
    .fi-sidebar { @apply bg-white max-w-60 !important }
    .fi-sidebar-nav{ @apply gap-y-5 !important }
    .aap-logo{ @apply w-auto h-1 mb-36 -mt-14 !important }
    .aap-login-logo { @apply w-48 -mt-24 !important }
    .fi-sidebar-collapsed{ @apply max-w-12 h-auto }
    .fi-sidebar-item-button{ @apply hover:bg-aap-blue active:bg-aap-blue focus:ring focus:ring-aap-yellow !important }
    .fi-sidebar-item-label{ @apply text-black !important }
    .fi-sidebar-item-icon{ @apply text-black !important }
    .fi-sidebar-nav-groups::before {
        content: '';
        border-top: 1px solid rgba(153, 147, 147, 0.25);
    }   
    
}

@layer utilities {
    /* For Webkit-based browsers (Chrome, Safari) */

    ::-webkit-scrollbar-thumb:hover {
      background: #555;  /* Color of the scroll thumb on hover */
        }
  
    /* For Firefox, Edge */
    * {
      scrollbar-width: thin;
      scrollbar-color: #fcdeb1 #f1f1f1;  /* thumb and track color */
    }
  }